@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
@import "utils/helpers";


html {
    height: 100%;
    font-family: $regular;
    font-size: $base-font-size;
    line-height: $default-line-height;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -moz-osx-font-smoothing: $default-font-smoothing;
    -webkit-font-smoothing: $default-font-smoothing;
    color: $darkgray;
}

body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

.h1 {
    @extend h1
}
.h2 {
    @extend h2
}
.h3 {
    @extend h3
}
.h4 {
    @extend h4
}
.h5 {
    @extend h5
}
.h6 {
    @extend h6
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a:not([class]) {
    text-decoration: underline;
    color: $red;
}

a[class],
button[class] {
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: initial;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

section {
    position: relative;
    padding: calc(2rem + 2vw) 0;
}

input,
select,
button {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content {
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    max-width: calc(#{$content-size} + 2rem);
    width: 100%;
    padding: 0 1rem;
}

.swiper-button-prev,
.swiper-button-next {
    &::after {
        content: none;
    }
}

.swiper-slide {
    height: auto;
}

.swiper-pagination-total {
    font-size: rem(18px);
    color: $red;
}

.section-title {
    @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
    font-family: $bold;
    margin: 0 0 2em 0;
}

.bg-title {
    @include fluid-type($min-vw, $max-vw, 50px, 300px);

    font-family: $bold;
    opacity: 0.06;
    grid-column: 1;
    grid-row: 3;
    align-self: end;
    line-height: 0.7;
    margin-left: -15%;
    color: $white;
    white-space: nowrap;
    min-width: 0;

    @include screen(620px) {
        margin-left: -7%;
    }
}

.btns-wrapp {
    justify-content: center;
    margin-top: calc(1rem + 2.5vw);
    display: flex;
    flex-wrap: wrap;

    > * {
        margin: 0.5rem 1rem;
    }
}

.blog,
.article,
.reviews,
.shares {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../images/general/blog-bg.png");
    background-color: $whitesmoke;
}

//Модули
@import "modules/modules";