header.header
    .header__wrapp
        .logo
            a(href="/").logo__link
                img(src="./static/images/general/logo.png").logo__img
        .header__content
            .header__top-panel
                .contacts.header__contacts
                    .contacts__list.header__contacts-list
                        li.contacts__item.header__contacts-item
                            +icon('phone')
                            a.contacts__link.header__contacts-link(href="tel:+74994441473") +7 (499) 444-14-73
                        li.contacts__item.header__contacts-item
                            +icon('worktime')
                            span Работаем ежедневно с 9-00 до 20-00
                        li.contacts__item.header__contacts-item
                            +icon('envelop')
                            a.contacts__link.header__contacts-link(href="mailto:autoservice@gmail.com") autoservice@gmail.com
                        li.contacts__item.contacts__address.header__contacts-item
                            +icon('marker')
                            span Москва, Рубцовская набережная 11
                        li.contacts__item.contacts__address.header__contacts-item
                            +icon('marker')
                            span Москва, Загородное шоссе д.1, к. 2
                ul.socials.header__socials
                    +socialLink('vk', '#')
                    +socialLink('tg', '#')
                    +socialLink('inst', '#')
                    +socialLink('whatsapp', '#')
                    +socialLink('youtube', '#')
                    +socialLink('viber', '#')
                .header__btns
                    +btn({label: 'Заказать звонок', href: '#request-modal'})(class="header__btn modal-btn")
                    .sandwich.js-sandwich-toggle(data-target-id="site-overlay" data-target-class-toggle="is-active")
                        .sandwich__line.sandwich__line--top
                        .sandwich__line.sandwich__line--middle
                        .sandwich__line.sandwich__line--bottom
            .header__nav
                -
                    var data = {
                        "title": "",
                        "items": [{
                            "title": "О нас",
                            "link": './about-us.html'
                        },
                            {
                                "title": "Марки втомобилей",
                                "subnav": true,
                                "link": './brands.html',
                                "items": [{
                                    "title": "Infinity",
                                    "link": './models.html'
                                },
                                    {
                                        "title": "Mitsubishi",
                                        "link": './models.html'
                                    },
                                    {
                                        "title": "Nissan",
                                        "link": './models.html',
                                        "subnav": true,
                                        "items": [{
                                                "title": "Nissan Micra",
                                                "link": "./model.html",
                                            },
                                            {
                                                "title": "Nissan Note",
                                                "link": "./model.html",
                                            },
                                            {
                                                "title": "Nissan Teana",
                                                "link": "./model.html",
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "title": "Услуги/Прайс",
                                "link": "./works.html",
                            },
                            {
                                "title": "Блог",
                                "link": "./blog.html",
                            },
                            {
                                "title": "Подбор запчастей",
                                "link": "./parts.html",
                            },
                            {
                                "title": "Акции",
                                "link": "./shares.html",
                            },
                            {
                                "title": "Контакты",
                                "link": "./contacts.html",
                            },
                            {
                                "title": "Отзывы",
                                "link": "./reviews.html",
                            },
                        ]
                    }
                nav.menu
                    +menu(data, 1)

