.c-select
    .c-select__header.js-select-header
        span.c-select__current.js-select-current 456
    .c-select__body
        .c-select__item.js-select-item 123
        .c-select__item.js-select-item 321
        .c-select__item.js-select-item 456
