.pagination
    a(href="#").btn.btn--round.btn--disabled.pagination__btn-prev
        +icon('arrow-prev')
    .pagination__wrapp
        span.pagination__current 1
        span
            |
            |/
            |
        span.pagination__total 4
    a(href="#").btn.btn--round.pagination__btn-next
        +icon('arrow-next')