.c-counter
    input(value="1").c-counter__input
    .c-counter__actions
        button.c-counter__btn(data-direction="plus" class="с-counter__btn js-counter-btn") +
        button.c-counter__btn(data-direction="minus" class="с-counter__btn js-counter-btn") -