/**
* 1.menu
* 2.nav-mobile
* 3.site-overlay
*/

// 1.menu
.Ñ-menu {

    &__list {
        @include screen(991px) {
            flex-direction: column;
        }
        background-color: midnightblue;
        display: flex;

    }

    &__item {

        &.is-active {

            > .menu__link {

                &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    background: yellow;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }

    &__link {
        @include screen(991px) {
            white-space: normal;
        }
        color: $white;
        text-decoration: none;
        padding: .5rem;
        display: block;
        white-space: nowrap;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 3px;
            background: yellow;
            width: 0;
            transition: all .4s;
            left: 0;
            bottom: 0;
        }

        &:hover {

            &::after {
                width: 100%;
            }
        }
    }
}

.dropdown__menu {
    display: none;
    position: absolute;
}

.dropdown__menu .dropdown__link::after {
    top: auto;
    bottom: 0;
}

.dropdown__link {
    white-space: nowrap;
    padding: .5rem;
    color: midnightblue;
    background-color: $white;
    text-decoration: none;
    display: block;
    transition: all .3s;

    &:hover {
        background-color: yellow;
    }
}

.dropdown__item.is-active > .dropdown__link {
    background-color: yellow;
}

@media(min-width: 992px) {
    .dropdown {
        position: relative;
    }

    .dropdown:hover > .dropdown__menu {
        display: block;
    }

    .dropdown__menu .dropdown__menu {
        position: absolute;
        left: 100%;
        top: -1px;
    }
}

@media(max-width: 991px) {
    .dropdown {
        &.is-active {
            > .dropdown__menu {
                display: block;
                position: initial;
                padding-left: .5rem;
                padding-top: .5rem;
                font-size: 14px;
            }
        }
    }
}

// 2.nav-mobile
.nav-mobile {
    max-width: 85vw;
    opacity: .9;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $midnightblue;
    z-index: 30;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    color: $white;

    .menu__list {
        margin: 0;
    }

    .header__nav {
        overflow: auto;
    }

    .c-button,
    .search,
    .socials {
        margin-top: .8rem;
    }
}

// 3.site-overlay
#site-overlay {
    @include fade('hide');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 40;

    &.is-active {
        @include fade('show');
    }
}