mixin menu(data, depth)
    - ++depth
    ul(class= data.subnav ? 'c-dropdown__menu' : 'c-menu__list')
        each item in data.items
            - let dropdownToggle = ''
            - if (depth === 2 && item.subnav) dropdownToggle = 'Ñ-dropdown__toggle'
            li(class= depth > 2 ? 'c-dropdown__item' : 'c-menu__item' class= item.subnav ? 'c-dropdown' : '' class= item.menuSelected ? "is-active" : "")
                a(class= depth > 2 ? 'c-dropdown__link' : 'c-menu__link' class= dropdownToggle href = item.link)= item.title
                if item.subnav
                    +menu(item, depth)

-
    var data = {
        "title": "Title text",
        "items": [{
            "title": "Item 1",
            "menuSelected": true,
            "link": '#'
        },
            {
                "title": "Item 2",
                "subnav": true,
                "items": [{
                    "title": "Item 2.1"
                },
                    {
                        "title": "Item 2.2"
                    },
                    {
                        "title": "Item 2.2",
                        "subnav": true,
                        "items": [{
                            "title": "Item 2.2.1",
                            "subnav": true,
                            "items": [{
                                "title": "Item 2.2.2.1"
                            },
                                {
                                    "title": "Item 2.2.2.2"
                                },
                                {
                                    "title": "Item 2.2.2.3",
                                    "menuSelected": true
                                }
                            ]
                        },
                            {
                                "title": "Item 2.2.2"
                            },
                            {
                                "title": "Item 2.2.3"
                            }
                        ]
                    }
                ]
            },
            {
                "title": "Item 3"
            }
        ]
    }

nav.c-menu
    +menu(data, 1)

.c-site-overlay
    .c-nav-mobile