extends template/main

block variables
    - var title = 'Контентная'
    - var pageClass = 'content-page'

block content
    section.content-section
        ul.breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
            +breadcrumbs-item('Главная','/')
            +breadcrumbs-item('Контентная страница')
        .container
            .section-title Контентная страница
            .cms-content
                p(style="font-family: Montserrat-Bold; text-transform: uppercase; font-size: 20px;") ЗАГОЛОВОК 2
                br
                p Типографика— сильнейший инструмент для выражения посыла в веб-дизайне. С его помощью вы можете объединить текстовую и визуальную составляющие, что поможет вам достучаться до посетителя.
                br
                p(style="font-family: Montserrat-Bold; text-transform: uppercase; font-size: 18px;") ЗАГОЛОВОК 3
                br
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ol
                    li Первый пункт списка;
                    li Второй пункт списка;
                    li Третий пункт списка;
                    li Четвёртый пункт списка.
                br
                img(src="./static/images/content/content-img.jpg" style="float: left; margin-right: 2rem; margin-bottom: 1rem;")
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки.
                .h-clearfix
                br
                p(style="font-family: Montserrat-Bold; text-transform: uppercase; font-size: 18px;") ЗАГОЛОВОК 4
                br
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ul
                    li Первый пункт списка;
                    li Второй пункт списка;
                    li Третий пункт списка;
                    li Четвёртый пункт списка.
                br
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                br
                br
                .cms-content__table
                    table
                        thead
                            tr
                                th Техническое обслуживание
                                th Cтоимость (руб.)
                        tbody
                            tr
                                td Замена масла ДВС
                                td 600 руб.
                            tr
                                td Замена фильтра воздушного
                                td от 150 руб.
                            tr
                                td Замена фильтра салона
                                td от 400 руб.
                            tr
                                td Замена топливного фильтра (в баке)
                                td от 2 400 руб.
                            tr
                                td Замена топливного фильтра (навесного)
                                td от 900 руб.
    include ./modules/sections/seo