extends template/main

block variables
    - var title = 'Контакты'
    - var pageClass = 'contacts-page'

block content
    section.contacts-section
        ul.breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
            +breadcrumbs-item('Главная','/')
            +breadcrumbs-item('Контакты')
        .container
            .split-screen.h-align-items-start
                .split-screen__left
                    .contacts-section__title Контакты
                    .contacts
                        ul.contacts__list.contacts-section__list
                            li.contacts__item
                                +icon('marker')
                                span.h-weight-regular Москва, Рубцовская набережная 11
                            li.contacts__item
                                +icon('marker')
                                span.h-weight-regular Москва, Загородное шоссе д.1, к. 2
                            li.contacts__item
                                +icon('phone')
                                a.contacts__link(href="tel:+74994441473") +7 (499) 444-14-73
                            li.contacts__item
                                +icon('envelop')
                                a.contacts__link.h-weight-regular(href="mailto:autoservice@gmail.com") autoservice@gmail.com
                            li.contacts__item
                                +icon('worktime')
                                span.h-weight-regular Работаем ежедневно с 9-00 до 20-00
                .split-screen__right
                    .contacts__map.contacts-section__map
                        div(style='position:relative;overflow:hidden;')
                            a(href='https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps' style='color:#eee;font-size:12px;position:absolute;top:0px;') Москва
                            a(href='https://yandex.ru/maps/213/moscow/house/rubtsovskaya_naberezhnaya_11/Z04YcA5pQUcFQFtvfXt5cXRkZQ==/?ll=37.699822%2C55.780872&utm_medium=mapframe&utm_source=maps&z=17?lang=ru_RU' style='color:#eee;font-size:12px;position:absolute;top:14px;') Рубцовская набережная, 11 — Яндекс.Карты
                            iframe(src='https://yandex.ru/map-widget/v1/-/CCUIMQGnkD' width='100%' height='400' allowfullscreen='true' style='position:relative; border: 2px solid #FD2E48;' loading="lazy")
    section.form-section
        .container.split-screen
            .split-screen__left
                - let formTitle = '<span>Оставьте заявку</span><br>Наши специалисты <br> скоро с вами свяжутся'
                include ./modules/forms/request-form
            .split-screen__right
                img(src="./static/images/general/panthera-big.png" loading="lazy").about-us__panthera
