extends template/main

block variables
    - var title = 'Акция'
    - var pageClass = 'article-page'

block content
    section.article
        ul.breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
            +breadcrumbs-item('Главная','/')
            +breadcrumbs-item('Акции', './shares.html')
            +breadcrumbs-item('Акция')
        .container
            .section-title Название акции
            .cms-content
                img(src="./static/images/content/share-img.jpg" style="float: left; margin-right: 2rem; margin-bottom: 1rem;")
                p Таким образом, синтетическое тестирование напрямую зависит от своевременного выполнения сверхзадачи. Вот вам яркий пример современных тенденций - высокое качество позиционных исследований требует анализа переосмысления внешнеэкономических политик. Таким образом, консультация с широким активом однозначно фиксирует необходимость форм воздействия. Также как новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий. Разнообразный и богатый опыт говорит нам, что курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации распределения внутренних резервов и ресурсов. Принимая во внимание показатели успешности, убеждённость некоторых оппонентов требует от нас анализа.
                .h-clearfix
                br
                p(style="font-family: Montserrat-Bold; text-transform: uppercase; font-size: 18px;") Заголовок 4
                br
                p Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:
                ol
                    li Первый пункт списка;
                    li Второй пункт списка;
                    li Третий пункт списка;
                    li Четвёртый пункт списка.
                br
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
                br
                p Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно.
            .btns-wrapp
                +btn({label: 'Вернуться к акциям', href: './shares.html', mod: '--large btn--inverse'})
                +btn({label: 'Получить скидку', href: '#request-modal', mod: '--large'})(class="modal-btn")