.h-color-white {
    color: $white!important;
}

.h-color-red {
    color: $red!important;
}

.h-align-center {
    text-align: center!important;
}

.h-pos-rel {
    position: relative!important;
}

.h-weight-regular {
    font-family: $regular!important;
}

.h-align-items-start {
    align-items: start!important;
}

.h-clearfix {
    clear: both!important;
}