// Colors
$white: #ffffff;
$black: #000000;
$ltBlack: #161616;
$darkgray: #363636;
$lightgray: #9C9C9C;
$gainsboro: #E5E5E5;
$whitesmoke: #F6F6F6;
$red: #FD2E48;
$btn-and-thead-gradient: linear-gradient(99.92deg, #E6162A 25.32%, #FF2E48 77.25%);

// Sizes
$base-font-size: 16px;
$default-line-height: 1.5 !default;
$default-font-smoothing: subpixel-antialiased !default;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content-size: 1170px;

$min-vw: 320px;
$max-vw: 1920px;

// Fonts
$regular: 'Montserrat-Regular', Roboto, sans-serif;
$bold: 'Montserrat-Bold', Roboto, sans-serif;
$min-font-size: 20px;
$max-font-size: 36px;