.works {
    padding-top: 0;

    &__slider-inner {
        margin-top: 10vmin;
    }

    &__form-wrapp {
        position: absolute;
        top: 2rem;
        z-index: 10;
        right: 10vw;

        @include screen(1170px) {
            @include flex-center;

            position: initial;
        }
    }
}