ul.c-tabs-nav
    li(data-tab-name="с-tab-1").c-tabs-nav__item.c-tabs-nav__item--active.js-tabs-nav Таб 1
    li(data-tab-name="с-tab-2").c-tabs-nav__item.js-tabs-nav Таб 2

.c-tabs-content
    .c-tabs-content__item.с-tab-1.c-tabs-content__item--active.js-tabs-content
    p 1
.c-tabs-content__item.с-tab-2.js-tabs-content
    p 2
