header { flex: 0 0 auto; }
.header {
    background-color: $ltBlack;
    z-index: 20;

    &_fixed {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-right: -50%;
        width: 100%;

        .logo__img {
            height: 80px;

            @include screen(991px) {
                height: 50px;
            }
        }

        .header__nav {
            transition: all 0.3s ease;
            margin-top: 1.5rem;
        }

        .header__wrapp {
            padding-top: calc(.5rem + 0.5vw);
            padding-bottom: calc(.5rem + 0.5vw);
            transition: all 0.3s ease;
        }
    }
    &__wrapp {
        @extend .container;
        display: flex;
        align-items: flex-end;
        background-color: transparent;
        color: $white;
        padding-top: calc(.5rem + 1vw);
        padding-bottom: calc(.5rem + 2vw);

    @include screen(991px) {
            align-items: center;
        }
    }
    &__socials {
        margin: 0 auto;

        @include screen(1170px) {
            margin-left: 0;
        }

        @include screen(500px) {
            margin: 0 auto;
        }
    }
    &__contacts {
        align-items: center;
        display: flex;

        &-list {
            grid-template-columns: 1fr 1.5fr;
            grid-gap: 0 2rem;

            @include screen(1170px) {
                grid-template-columns: 1fr;
                grid-gap: 0.5rem 0;
            }
        }

        &-item {
            align-items: center;
        }

        &-link,
        &-item > span {
            color: $white;
            font-family: $regular;
            font-weight: 600;

            @include screen(1170px) {
                font-size: rem(12px);
            }
        }

        .svg-sprite-icon {
            font-size: 0.9em;
        }
    }
    &__text {
        font-size: 16px;
        margin-left: 10px;
        white-space: nowrap;
    }
    &__top-panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include screen(910px) {
            border: none;
            padding-bottom: 0;
        }
    }
    &__content {
        @include flex-center-column;
        height: 100%;
        flex: auto;
        margin-left: calc(1rem + 1.5vw);
    }
    &__nav {
        width: 100%;
        margin-top: 3rem;

        @include screen(1170px) {
            margin-top: 1rem;
        }

        .menu__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -.5rem;
            @include screen(910px) {
                flex-direction: column;
            }
        }
        .menu__link {
            font-weight: 500;
            text-decoration: none;
            color: inherit;
        }
    }
    &__btns {
        @include flex-center;
    }

    &__btn {
        padding: 0.8rem 1.8rem;
        max-width: rem(205px);

        @include screen(500) {
            margin-top: 1rem;
        }
    }

    &__login {
        margin-left: auto;
        margin-right: rem(20px);
    }

    &__dropdown {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 .5rem 0 auto;
        padding: .25rem 0;

        &:hover {
            .header__drop-content {
                display: block;
            }
        }
    }

    &__drop-content {
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        z-index: 10;
        white-space: nowrap;
    }

    &__drop-link {
        padding: .25rem;
        text-decoration: none;
        display: block;
        font-weight: bold;

        &:hover {
            color: $white;
        }
    }
}

.logo {

    &__img {
        @include screen(1170px) {
            height: 80px;
        }

        @include screen(991px) {
            height: 50px;
        }
    }
}