.accordion {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-color: transparent;
    border-radius: 4px;
    color: $black;
    font-family: $bold;

    &__item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        &.is-active {
            .accordion__inner {
                display: block;
                border-top: 1px solid rgba(0, 0, 0, 0.3);
            }
            .accordion__icon {
                transform: rotate(180deg);
            }
        }
    }

    &__heading {
        align-items: center;
        display: flex;
        cursor: pointer;
        padding: 16px;
        background: $btn-and-thead-gradient;
        flex-direction: row-reverse;
        color: #eee;
    }

    &__icon {
        margin-right: 12px;
        transition: all 0.3s ease;
    }

    &__title {
        flex: 1;
    }

    &__inner {
        display: none;
    }

    &__content {
        padding: 16px;
        background-color: #eee;
        color: #000;
    }
}